.search-bar-container {
  background-color: #f9f9f8;
  padding: 2rem;
  display: flex;
  gap: 1rem;
  width: calc(100vw - 200px);
  margin: auto;
  margin-top: 2rem;
  border-radius: 10px;

  .input-search {
    background: white;
    border-radius: 5px;
    border: 1px solid #e9e9e9;
    padding: 0.5rem 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    img {
      max-width: 16px;
      max-height: 16px;
    }

    input {
      border: none;
      width: 200px;
    }

    input:focus {
      outline: none !important;
    }
  }

  .filter-button {
    background: white;
    border-radius: 5px;
    border: 1px solid #e9e9e9;
    padding: 0.5rem 1rem;
  }
}

.popover-filters {
  padding-top: 0px !important;
  border: 1px solid #e9e9e9;
  border-radius: 5px !important;

  .ant-popover-inner {
    border-radius: 5px !important;
    width: auto !important;
    overflow: auto;
  }

  .ant-popover-inner-content {
    padding: 16px !important;
    //height: inherit;
  }

  .ant-popover-arrow {
    display: none;
  }
}
